<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\main.css">
</head>
<body>
    <div class="search-container">
        <form action="#">
            <input type="search" placeholder="Search for songs, artists, podcasts" class="search-bar">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <div id="embeded">   
        {{ tracks|safe }}
    </div>
 
</body>
</html>